@font-face {
    font-family: Oswald;
    src: url("assets/font/Oswald/Oswald-VariableFont_wght.ttf");
}
/*html general design*/
html,body{
    width: auto;
    height: auto;
    margin: 0;
    font-family: Oswald, serif!important;
}
/*section class*/
.section{
    width: 100dvw;
    height: 100dvh;
}

#tracker{
    width: 95%;
    height: 37%;
}
#tracker>div{
    width: 20%;
    border-radius:10%;
}

#skills{
    width: 95%;
    height: 37%;
}
#skills>div{
    width: 20%;
    border-radius:10%;
}

#skills>div:hover{
    width: 20%;
    border-radius:10%;
    background-color: cornflowerblue!important;
}

.hover-div {
    width: 200px;
    height: 200px;
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 200px;
    transition: background-color 0.3s;
}
